<h1> Create New Trip </h1>
<%= simple_form_for @trip do |t| %>
  <%= t.input :name %>
  <%= t.input :date %>
  <%= t.input :time %>
  <%= t.input :destination %>
  <%= t.input :comments %>
  <%= t.button :submit %>
<% end %>
