<h1>Trip Dashboard</h1>

<p><%= link_to "Home", root_path() %></p>

<h2>Trip Details</h2> 
<p><b>Name: </b> <%= @trip.name %></p>
<p><b>Destination: </b> <%= @trip.destination %></p>
<p><b>Date: </b> <%= @trip.date.to_s(:long_with_day) %> <%= @trip.time.to_s(:time_with_pm) %></p>
<% if @trip.comments %>
<p><b>Event Details: </b> <%= @trip.comments %></p>
<% end %>
<p><%= link_to "Edit Trip Details", edit_trip_path %></p>


<h2>Cars</h2>

  <% @cars.each do |car| %>
  <div class="car">

    <table>
      <tr>
	<td><b>Driver: </b></td>
	<td><%= car.drivers.first.first_name %> <%= car.drivers.first.last_name %></td>
      </tr>
      <tr>
	<td><b>Departs From: </b></td>
	<td><%= car.origin %></td>
      </tr>
      <% if car.depart_date and car.depart_time %>
      <tr>
	<td><b>Departs At: </b></td>
	<td>
	  <% if car.depart_date != @trip.date %>
	  <%= car.depart_date.to_s(:long_with_day) %> 
	  <% end %>
	  <%= car.depart_time.to_s(:time_with_pm) %>
	</td>
      </tr>
      <% end %>
      <tr>
	<td><b>Number of Seats: </b></td>
	<td><%= car.number_of_seats.to_s %></td>
      </tr>
      <tr>
	<td><%= link_to "Details", trip_car_path(@trip.hashid, car.id) %></td>
	<td>Choose Car</td>
      </tr>
    </table>

  </div>
  <% end %>

