
<!-- <p><b>Name: </b> <%= @trip.name %></p> -->
<!-- <p><b>Event Details: </b> <%= @trip.comments %></p> -->


<!DOCTYPE html>
	<head>
<!--         // <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>  -->
<!--         // <script src="assets/js/jquery-1.9.1.js"></script>
        // <script src = "assets/js/dashboard.js"></script> -->
        <%=javascript_include_tag "index.js", "jquery-1.9.1.js"%>

	</head>
	<body>
		
		<div id="modal-container" >
			<div class="modal-overlay"></div>
				<div class="modal-box">
					<% @cars.each do |car| %>
					<% driver = User.find(car.driver) %>
					<div class="modal-content" id="modal-content-<%=car.id%>">
						<div id="whose-car"><b><%= driver.first_name %> <%= driver.last_name.possessive %> Car</b></div>
						<div id="meeting-place"><b>Meeting Place:</b> <%= car.origin %></div>
						<div id="departure-time"><b>Departure Time:</b> 
							<% trip_date = @trip.datetime.strftime("%m/%d/%Y")
								 depart_date = car.depart_datetime.strftime("%m/%d/%Y")
							   avail_seats = car.number_of_seats - car.passengers.count
							   depart_time = car.depart_datetime.strftime("%I:%M%p") %>
						  <% if depart_date != trip_date %>
						  <%= depart_date %> <%= depart_time %> 
						  <% end %>
						  <%= depart_time %>
						</div>
						<div id="people-in-car"><b>Passengers:</b>
						  <ul>
						    <% car.passengers.each do |p| %>
						      <% if p != driver %>
						        <li><%= p.first_name %> 
						        	  <%= p.last_name %>
						        	  <%= link_to "X", user_delete_path(:user_id => p.id, :car_id => car.id, :trip_id => @trip.id)%>
						        </li>
						      <% end %>
						    <% end %>
						  </ul>
						</div>

						<div id="available-seats"><%= avail_seats > 0 ? "Available Seats: " + avail_seats.to_s : "Car Full"%></div>
						<% if avail_seats > 0 %>
								<div class="choose-car-button"> <%= link_to "choose car", new_user_path(:car_id => car.id, :trip_id => @trip.id) %></div>
						<%end%>
						<!-- <div class="delete-car-button"> <%= link_to "Delete car", trip_car_path(@trip.id, car.id), method: :delete %></div> -->
						<div class="delete-car-button"> 
							<%= link_to "delete car", car_delete_path(:trip_id => @trip.id, :car_id => car.id, :class => "deleting-car")%> 
						</div>
						<div class="cancel">cancel</div>
					</div>
					<%end%>
				</div>
		</div>
		<div id="topbar-dash">
			<div id="groupool"><%= link_to "groupool", root_path(), :class => "groupool-link" %></div>
		</div>
		<div id="body-container">
			<div id="title-container-dash">
				<div id="title-dash"><%= @trip.name %></div>
			</div>
			<div id="container-container">
				<div class="box">
					<div class="trip-details-container">
							<div id="trip-details">trip details:</div>
							<div id="edit"><%= link_to "edit", edit_trip_path %></div>
							<div id="destination">>> <b>destination:</b> <%= @trip.destination %></div>
							<div id="date-time">>> <b>date:</b> <%=@trip.datetime.strftime("%m/%d/%Y %I:%M%p") %></div>
							<div id="trip-hash">>> <b>trip code:</b> <%= @trip.hashid %> </div>
					</div>
				</div>
				<div class="box">
					<div class="trip-comments-container">
						<div id="comments">creator's comments: 
							<% if @trip.comments %>
								<div id="tripcomments">>> <%= @trip.comments %></div>
							<%end%>
								</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div id="button-container">
			  <div id="button-container-inner">
			<div id="arrow-container">
<!-- 				<img class="arrow" src="assets/img/bluearrow.png"/> -->
				<%=image_tag("bluearrow.png", class: "arrow")%>
				<div id="choose-car">choose a car</div>
			</div>
			<div id="middletext-container">
				<div id="or-container">or</div>
				<div id="click-container">Click a car for more information.</div>
			</div>
 			<div id="add-a-car">
				<div id="add-car-text">
					<!-- <%= button_to "add car", new_trip_car_path(@trip.id)%> -->
					<%= link_to "add car", new_trip_car_path(@trip.id), :class => "add-car" %>
				</div>
 			</div>
			</div>
                        </div>
			<div class="clear"></div>
		</div>
		<div id="carousel-container">
			<div id="carousel-wrapper">
				<div id="carousel">
					 <% @cars.each do |car| %>
					 <% driver = User.find(car.driver) %>
					 <% avail_seats = car.number_of_seats - car.passengers.count %>
					<div class="carousel-item" data-id = "<%=car.id%>">
						<div class="name"><%= driver.first_name %> <%= driver.last_name.possessive %> car</div>
						<div class="car-icon-container">
	<!-- 						<img class="car-icon" src="assets/img/dashcar.png"/> -->
							<%=image_tag("dashcar.png", class: "car-icon")%>
						</div>
						<div class="seats-text">
						  <% if avail_seats == 0 %>
						    Car Full
						  <% else %>
						    <%= avail_seats.to_s %> <%= "seat".pluralize(avail_seats) %> available
						  <% end %>
						</div>
					</div>	
					<% end %>
											 	 
					<div class="clear"></div>													
				</div>
			</div>
			<div id="prev">
<!-- 			    <img class="img-scaled" src="assets/img/arrowleft.png" /> -->
					<%=image_tag("arrowleft.png", class: "img-scaled")%>
			</div>
			<div id="next">
<!-- 			    <img class="img-scaled-next" src="assets/img/arrowleft.png" /> -->
					<%=image_tag("arrowleft.png", class: "img-scaled-next")%>
			</div>				
		</div>
	</body>

