<!DOCTYPE html>
	<head>
	</head>
	<body>
			<div id="topbar">
				<div id="groupool"><%= link_to "groupool", root_path(), :class => "groupool-link" %></div>
			</div>
			<div id ="big-container">
				<div id="title-container">
					<div id="title">DELETE CAR</div>
					<div id="details">This car can only be deleted by the driver.</div>
				</div>
				<div id="form-container">
					<div id="input-container">
						<% if params[:warning] %>
							<div id="warning"> Email is either wrong or invalid. Are you sure you are <%= params[:first_name] %> <%= params[:last_name]%>?</div>
						<% end  %>
						<%= form_tag(action: :delete) do %>
						<div class="input-name-container">
							<div class="input-name"></div>
								Email: <%= text_field_tag(:email) %> 
  							<%= button_tag(:submit) %>
								<div class="clear"></div>
						</div>
				</div>
				<% end %>
				<%= link_to "Go back", trip_path(id: @trip.hashid), 		method: :get%>

			</div>
	</body>
</html>
